.revision {
    white-space: pre-wrap ;
    display: block;
    /*unicode-bidi: embed;*/
    font-family: monospace;
    font-size:12px;
    /*border:solid 1px green;*/

    padding:10px;
    border:solid 1px #ddd;
}

.revision_header {
    background: #E0EAF1;
    padding:5px;
    margin:10px 0;
    font-size:12px;
}

.reversion_button {
    margin:15px 0;
}

.revision-status-insert {
    background:#ffffcc;
    padding:3px 5px;
    margin-left:5px;
}

.revision-status-delete {
    background:#fff4f4;
    padding:3px;
    margin-left:5px;
}

.revision_no {
    font-size: 32px;
    font-weight:bold;
    color:#777;
    margin:0 5px;
    vertical-align: middle;
}

.revision_arrow {
    color:#777;
    font-size:18px;
    vertical-align:middle;
}

.revision_arrow:hover {
    cursor: pointer;
}

.revision_insert {
    background-color: #D1E1AD;
    color: #405A04;
    /*font-weight: bold;*/
}

.revision_delete {
    background-color: #E5BDB2;
    color: #A82400;
    /*font-weight: bold;*/
    text-decoration: line-through;
}

.revision_delete_block {
    /*background-color: #FFF4F4;*/
}

.revision_insert_block {
    /*background-color: #F9FFE1;*/
}

.revision_delete_block .revision_insert {
    background-color: #fff;
    color: #fff;
}

.revision_insert_block .revision_delete {
    background-color: #fff;
    color: #fff;
}