.tag-subject {
    border-bottom: solid 1px #333;
}

.tag-profile {
    font-size: 12px;
    color: #888;
}

.buttons {
    margin: 20px 0;
}


.markdown_area > :first-child {
  margin-top: 0;
  padding-top: 0;
}


.tag-buttons {
    font-size: 12px;
}

.my-action-buttons {
    color:#D5CCD5;
}
.my-action {
    cursor: pointer;
    background-color: #fff;
    color: #777;
    font-size:11px;
    padding:3px;
}

.my-action:hover,
.my-action:focus {
    background-color: #777777;
    color: #fff;
    text-decoration: none;
}

.markdown_area ul, .markdown_area ol {
    margin-bottom:30px;
}

.profile-block {
    padding:5px;
    min-width: 130px;
}

.profile-block-writer {
    background-color: #e0eaf1;
}