.user {

}

.subject {
    border-bottom: solid 1px #333;
    padding-bottom:10px;
    font-weight: bold;
}

.question-line {
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top:10px;
}

.question-subject {
    font-size: 16px;
    font-weight: bold;
}

.question-subject:link      {text-decoration: none; color:#3b5998;}
.question-subject:visited   {text-decoration: none; color:#3b5998;}
.question-subject:active    {text-decoration: none; color:#3b5998;}
.question-subject:hover     {text-decoration: underline; color:#3b5998;}

.count-label {
    margin-top:10px !important;
}

.question-summary {

}

.question-profile {
    font-size: 11px;
    color: #888;
}

.info-timesince {

}

.comment-question-subject {
}

.tab-pane {
    margin:15px 5px 20px 5px;
}

.tag-count {
    font-size:11px;
}

.level {
    color:#fff;
}
.level-info {
  background-color: #5bc0de;
}

.level-warning {
  background-color: #f0ad4e;
}

.level-danger {
  background-color: #d9534f;
}

.level-success {
  background-color: #5cb85c;
}

.level-primary {
  background-color: #428bca;
}
